:root {
  /* font-family */
  --main-font-Sans: "Open Sans", sans-serif;
  --secondary-font-Raleway: "Raleway", sans-serif;
  /* font-size */
  --main-font-size: 16px;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-18: 1.125rem;
  --font-size-42: 2.625rem;
  --font-size-72: 4.5rem;
  /* line-height */
  --l-height-15: 0.9375rem;
  --l-height-16: 1rem;
  --l-height-26: 1.625rem;
  --l-height-30: 1.875rem;
  --l-height-57: 3.5625rem;
  --l-height-49: 3.0625rem;
  --l-height-85: 5.3125rem;
  /* letter-spacing */
  --l-spacing-1: 0.1em;
  /* colors font, background */
  --font-color-main: #303030;
  --font-color-white: #ffffff;
  --font-color-hover: #ff6c00;
  --font-color-before: rgba(157, 164, 189, 0.6);
  --font-color-grey: #9da4bd;
  --font-color-title: #555555;
  --font-color-placeholder: rgba(157, 164, 189, 0.4);
  --color-background-light: #f7f7f7;
  --color-background-form: #191c26;
}

html {
  font-size: var(--main-font-size);
}

body {
  font-family: var(--main-font-Sans);
  color: var(--font-color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms linear;
}

.link:hover,
.link:focus {
  color: var(--font-color-hover);
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.disp-flex {
  display: flex;
}

.btn-white {
  font-weight: 600;
  font-size: var(--font-size-12);
  line-height: var(--l-height-16);
  color: var(--font-color-white);
  letter-spacing: 0.09em;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 10px;
  text-transform: uppercase;
  width: 164px;
  transition: background-color 250ms linear, color 250ms linear;
}

.btn-black {
  font-weight: 600;
  font-size: var(--font-size-12);
  line-height: var(--l-height-16);
  letter-spacing: 0.09em;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 10px;
  text-transform: uppercase;
  width: 164px;
  transition: background-color 250ms linear, color 250ms linear;
}

.btn-white:hover,
.btn-white:focus,
.btn-black:hover,
.btn-black:focus {
  color: var(--font-color-white);
  background-color: var(--font-color-hover);
}

.before-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: var(--font-size-11);
  line-height: var(--l-height-15);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.before-title::before {
  display: flex;
  content: "";
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: currentColor;
}

.section-title {
  font-family: var(--secondary-font-Raleway);
  font-weight: 700;
  font-size: var(--font-size-42);
  line-height: var(--l-height-49);
  letter-spacing: 0.05em;
  margin-top: 20px;
}

/* 
==================================================
HEADER
=================================================
*/
.header {
  justify-content: center;
  width: 100%;
  position: absolute;
}

.header-container {
  padding-top: 32px;
}

.container-navigation {
  align-items: center;
}

.navigation-logo {
  margin-right: 71px;
  margin-left: 55px;
}

.navigation-items,
.navigation-tel {
  color: var(--font-color-white);
  font-weight: 600;
  font-size: var(--font-size-12);
  line-height: var(--l-height-16);
  letter-spacing: var(--l-spacing-1);
}

.navigation-items:not(:last-child) {
  margin-right: 41px;
}

.navigation-tel {
  font-style: normal;
  line-height: var(--l-height-16);
  margin-right: 37px;
  margin-left: auto;
}

.header-container .btn-white {
  margin-right: 15px;
}
/* 
==================================================
HERO
=================================================
*/
.hero-left-side {
  width: 155px;
}

.hero-list {
  justify-content: flex-end;
  align-items: center;
  padding-right: 82px;
  padding-top: 30px;
  transform: rotate(-90deg);
}

.hero-list .list-item {
  font-weight: 600;
  font-size: var(--font-size-11);
  line-height: var(--l-height-15);
  letter-spacing: 0.2em;
}

.hero-list-item:first-child {
  display: flex;
  align-items: center;
}

.hero-list-item:first-child::before {
  display: flex;
  content: "";
  height: 1px;
  width: 60px;
  margin-right: 40px;
  background-color: #303030;
}

.hero-list .list-item:not(:last-child) {
  margin-right: 40px;
}

.hero-right-side {
  padding-left: 100px;
  padding-top: 272px;
  padding-bottom: 206px;
  width: 100%;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/head-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  font-family: var(--secondary-font-Raleway);
  font-weight: 700;
  font-size: var(--font-size-72);
  line-height: var(--l-height-85);
  letter-spacing: 0.05em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--font-color-white);
}

.hero-content {
  font-size: var(--font-size-18);
  line-height: var(--l-height-30);
  letter-spacing: 0.02em;
  color: var(--font-color-grey);
  width: 363px;
}

.hero .before-title {
  color: var(--font-color-before);
}

/* 
==================================================
ABOUT-US
=================================================
*/
.title-description {
  font-size: var(--font-size-18);
  line-height: var(--l-height-30);
  letter-spacing: 0.02em;
  color: var(--font-color-title);
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-content {
  font-size: var(--font-size-14);
  line-height: var(--l-height-26);
  letter-spacing: 0.02em;
  color: var(--font-color-title);
  margin-bottom: 40px;
}

.about-us-list .list-item:not(:last-child) {
  margin-right: 30px;
}

.about-right-side {
  margin-left: 65px;
  width: 500px;
}

.about-right-side .before-title {
  color: var(--font-color-main);
}

/* 
==================================================
SERVICES-AND-PRICES
=================================================
*/
.services {
  background-image: url("../images/price-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111319;
  color: var(--font-color-white);
}

.services-list-container {
  margin-top: 44px;
  margin-bottom: 46px;
}

.service-left-side {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.service-right-side {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.service-left-side,
.service-right-side {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
  width: 50%;
  padding: 30px 40px;
  flex-wrap: wrap;
}

.services-list-item {
  justify-content: space-between;
  align-items: baseline;
}

/* .prices {
  margin-left: auto;
} */

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.service-btn {
  display: block;
  margin: 0 auto;
}
.services .before-title {
  color: var(--font-color-before);
}

.services-list-line {
  display: flex;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 6px;
}

/* 
==================================================
WHY-US
=================================================
*/
.why-us-left-side {
  width: 470px;
  margin-right: 130px;
}

.why-us-right-side {
  width: 445px;
}

.why-us-list {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.why-us-items:nth-child(even) {
  margin-top: 30px;
}

.why-us-items:nth-child(odd) {
  margin-right: 30px;
}

.why-us-items {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  border: 1px solid black;
  align-items: flex-start;  
}

.why-us-numb {
  font-weight: 700;
  font-size: var(--font-size-42);
  line-height: var(--l-height-57);
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;   
  position: relative;
  width: max-content;
  margin: 0 auto; 
}

.why-us-numb::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 13px;
  right: -13px;
  background-image: url(../images/plus.svg);
}

.why-us-content {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

/* 
==================================================
BARBERS
=================================================
*/
.barbers {
  background-color: var(--color-background-light);
}

.barber-list {
  margin-top: 44px;
}

.barber-list-item:not(:last-child) {
  margin-right: 30px;
}

.barber-name {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: 400;
}

.barber-info {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--font-color-hover);
  margin-bottom: 30px;
}

.barbers-social-list {
  align-items: center;
  justify-content: center;
  padding-bottom: var(--val-30);
  padding-top: 30px;
}

.social-list-link {
  fill: var(--color-social);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--font-color-white);
  border-radius: 50%;
  transition: fill 250ms linear, transform 150ms linear, border 250ms linear;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link:hover,
.social-list-link:focus {
  fill: var(--font-color-hover);
  transform: scale(1.2);  
  border: 1px solid var(--font-color-hover);  
}

/* 
==================================================
GALLERY
=================================================
*/
.gallery-list {
  margin-top: 44px;
}

.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}

/* 
==================================================
CONTACT
=================================================
*/
.contact {
  background-color: var(--color-background-form);
  background-image: url("../images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: 100%;
}

.form-section-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--font-color-white);
  margin-bottom: 44px;
}

.contact-left-side,
.contact-right-side {
  width: 50%;
}

.form input,
.form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(240, 248, 255, 0.192);
}

.form-name::placeholder,
.form-tel::placeholder,
.form-textarea::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--font-color-placeholder);
}

.form-name,
.form-tel {
  padding-bottom: 8px;
}

.form-name {
  margin-right: 30px;
  width: 270px;
}

.form-tel {
  width: 260px;
}

.form-textarea {
  margin-top: 44px;
  margin-bottom: 44px;
  padding-bottom: 60px;
  width: 560px;
  resize: none;
}

/* 
==================================================
FOOTER
=================================================
*/
.footer .container {
  justify-content: space-between;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
}

.footer-copyright {
  color: var(--font-color-grey);
}

.footer-list {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-list-item:not(:last-child) {
  margin-right: 40px;
}

/*
============================================================
BACKDROP
============================================================
*/
.backdrop {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(1);
  margin: 0 auto;
  background-color: var(--font-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form-container {
  padding: 40px;
}

.modal-form-title {
  font-family: var(--main-font-Sans);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  font-family: var(--main-font-Sans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-items {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.modal-form-items:hover,
.modal-input:hover,
.modal-form-items:focus,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--font-color-hover);
  fill: var(--font-color-hover);
}

.form-icon-div {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;  
  margin-top: 4px;
  margin-bottom: 20px;  
  font-size: 12px;
  outline: none;
}

.modal-textarea::placeholder {
  font-family: var(--main-font-Sans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-label {
  font-family: var(--main-font-Sans);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.check-label a {
  color: var(--font-color-hover);
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.custom-check {
  display: block;
  width: 16px;
  height: 15px;
  background-color: transparent;
  position: relative;
  border: 2px solid #212121;
  border-radius: 2px;
}

.custom-check:checked {
  background-color: var(--font-color-hover);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.check-content {
  margin-left: 7px;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  font-family: var(--main-font-Sans);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  background: var(--font-color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  padding: 10px 76px;
  border: none;
  }

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--font-color-white);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 250ms linear, background-color 250ms linear;
}

.close-btn:hover {
  fill: var(--font-color-white);
  background-color: var(--font-color-hover);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}